In [218]:
import pandas as pd
from math import log

In [219]:
df = pd.read_csv('dt_data.txt', sep=",", header=None)
df = df.drop([0])
df.columns = ['Occupied', 'Price', 'Music', 'Location', 'VIP', 'Favorite Beer', 'Enjoy']
df = df.reset_index()
df = df.drop(columns=['index'])
type(df['Occupied'][0])
for i in range(22):
    df['Occupied'][i] = df['Occupied'][i].lstrip('0123456789: ')
    df['Enjoy'][i] = df['Enjoy'][i].rstrip(';').lstrip(' ')
df

    Occupied       Price   Music        Location   VIP Favorite Beer Enjoy
0       High   Expensive    Loud         Talpiot    No            No    No
1       High   Expensive    Loud     City-Center   Yes            No   Yes
2   Moderate      Normal   Quiet     City-Center    No           Yes   Yes
3   Moderate   Expensive   Quiet   German-Colony    No            No    No
4   Moderate   Expensive   Quiet   German-Colony   Yes           Yes   Yes
5   Moderate      Normal   Quiet       Ein-Karem    No            No   Yes
6        Low      Normal   Quiet       Ein-Karem    No            No    No
7   Moderate       Cheap    Loud   Mahane-Yehuda    No            No   Yes
8       High   Expensive    Loud     City-Center   Yes           Yes   Yes
9        Low       Cheap   Quiet     City-Center    No            No    No
10  Moderate       Cheap    Loud         Talpiot    No           Yes    No
11       Low       Cheap   Quiet         Talpiot   Yes           Yes    No
12  Moderate   Expensive   Quiet   Mahane-Yehuda    No           Yes   Yes
13      High      Normal    Loud   Mahane-Yehuda   Yes           Yes   Yes
14  Moderate      Normal    Loud       Ein-Karem    No           Yes   Yes
15      High      Normal   Quiet   German-Colony    No            No    No
16      High       Cheap    Loud     City-Center    No           Yes   Yes
17       Low      Normal   Quiet     City-Center    No            No    No
18       Low   Expensive    Loud   Mahane-Yehuda    No            No    No
19  Moderate      Normal   Quiet         Talpiot    No            No   Yes
20       Low      Normal   Quiet     City-Center    No            No   Yes
21       Low       Cheap    Loud       Ein-Karem   Yes           Yes   Yes

In [220]:
def get_feature_entropy(col_name, df, target): #Get entropy of each branch
    feature_e = 0
    # The probs of each categorized group 
    probs = df.groupby(col_name).size().div(len(df))
    # iterate all groups and sum the entropy
    for index_value, p_value in list(probs.items()):
#         print(index_value, p_value)
        # calculate each group probs
        group_df = df[df[col_name] == index_value]
        group_probs = group_df.groupby(target).size().div(len(group_df))
        group_entropy=0 # remove the previous group's value
        # Sum H(C|when x=xi)
        for p in group_probs:
            group_entropy += -p*log(p,2)
#             print(group_entropy)
        # Sum H(target|col_name)
        feature_e += p_value * group_entropy
#         print(feature_e)
    return feature_e

In [221]:
def get_orginal_entropy(df, target):
    orginal_e = 0
    # The probs of enjoy and not enjoy
    probs = df.groupby(target).size().div(len(df))
    for p in probs:
        orginal_e += -p*log(p, 2)
    return orginal_e

In [226]:
def get_max_info_gain(df, target):
    d = {}
    orginal_e = get_orginal_entropy(df, target)
    all_col_name = list(df.columns)
    all_col_name.pop(-1)
    for col_name in all_col_name:
        d[col_name] = orginal_e - get_feature_entropy(col_name, df, target)
#     print(d)
    return max(d, key=d.get)

In [227]:
# for i in all_col_name:
#     print(i,': ',get_feature_entropy(i, df, df['Enjoy']))

In [228]:
get_max_info_gain(df,df['Enjoy'])

'Occupied'

In [19]:
# class Node:
#     def __init__(self, val):
#         self.left = None
#         self.right = None
#         self.value = val
        
class TreeNode:
    def __init__(self, val=0):
        self.val = val
        self.leaves = {}

In [15]:
class solution:
    def creatTree(self, root:TreeNode):
        if root.val==8:
            print('Y')
        return ans

In [17]:
def creatTree(self, root:TreeNode):
    if root.val==8:
        print('Y')
    return ans

In [20]:
def createTree(df):
    node=TreeNode()

In [25]:
node=TreeNode()
node.leaves

{}

In [229]:
def split_df(df):
    best_feature = get_max_info_gain(df,df['Enjoy'])
    splitDict = {}
    for k in df[best_feature].unique():
        splitDict[k] = df[df[best_feature]==k].drop(columns=best_feature)
    return splitDict

In [298]:
# y = split_df(df)
# y.items()
# # for i,j in zip(y.keys(),y.items()):
# #     print('@@@',i)
# #     print('$$$',j)

In [297]:
# best_feature = 'Occupied'
# splitDict = {}
# for k in df[best_feature].unique():
#     splitDict[k] = df[df[best_feature]==k].drop(columns=best_feature)

In [296]:
# splitDict[k] = df[df[best_feature]==k].drop(columns=best_feature)
# splitDict.items()

In [299]:
def create_decision_tree(df, target):
    
    print('###',df)
    # if left only one type of label, return
    if len(df['Enjoy'].unique()) == 1:
        return df['Enjoy'][0]
    # if left only one type of feature, then return
    if len(df.columns) == 1:
        last_col_name = df.columns[0]
        return df[last_col_name].value_counts().index[0]
    
    # find max info gain of feature
    fname = get_max_info_gain(df, target)
    
    node = {fname: {}}
    
    #build tree
    df2 = split_df(df)
    for t,d in zip(df2.keys(),df2.values()):
        node[fname][t] = create_decision_tree(d, target)
    
    return node

In [300]:
create_decision_tree(df, df['Enjoy'])

###     Occupied       Price   Music        Location   VIP Favorite Beer Enjoy
0       High   Expensive    Loud         Talpiot    No            No    No
1       High   Expensive    Loud     City-Center   Yes            No   Yes
2   Moderate      Normal   Quiet     City-Center    No           Yes   Yes
3   Moderate   Expensive   Quiet   German-Colony    No            No    No
4   Moderate   Expensive   Quiet   German-Colony   Yes           Yes   Yes
5   Moderate      Normal   Quiet       Ein-Karem    No            No   Yes
6        Low      Normal   Quiet       Ein-Karem    No            No    No
7   Moderate       Cheap    Loud   Mahane-Yehuda    No            No   Yes
8       High   Expensive    Loud     City-Center   Yes           Yes   Yes
9        Low       Cheap   Quiet     City-Center    No            No    No
10  Moderate       Cheap    Loud         Talpiot    No           Yes    No
11       Low       Cheap   Quiet         Talpiot   Yes           Yes    No
12  Moderate   Expensive   Quiet   Mahane-Yehuda    No           Yes   Yes
13      High      Normal    Loud   Mahane-Yehuda   Yes           Yes   Yes
14  Moderate      Normal    Loud       Ein-Karem    No           Yes   Yes
15      High      Normal   Quiet   German-Colony    No            No    No
16      High       Cheap    Loud     City-Center    No           Yes   Yes
17       Low      Normal   Quiet     City-Center    No            No    No
18       Low   Expensive    Loud   Mahane-Yehuda    No            No    No
19  Moderate      Normal   Quiet         Talpiot    No            No   Yes
20       Low      Normal   Quiet     City-Center    No            No   Yes
21       Low       Cheap    Loud       Ein-Karem   Yes           Yes   Yes
###          Price   Music        Location   VIP Favorite Beer Enjoy
0    Expensive    Loud         Talpiot    No            No    No
1    Expensive    Loud     City-Center   Yes            No   Yes
8    Expensive    Loud     City-Center   Yes           Yes   Yes
13      Normal    Loud   Mahane-Yehuda   Yes           Yes   Yes
15      Normal   Quiet   German-Colony    No            No    No
16       Cheap    Loud     City-Center    No           Yes   Yes
###         Price  Music  VIP Favorite Beer Enjoy
0   Expensive   Loud   No            No    No
###          Price  Music   VIP Favorite Beer Enjoy
1    Expensive   Loud   Yes            No   Yes
8    Expensive   Loud   Yes           Yes   Yes
16       Cheap   Loud    No           Yes   Yes

KeyError: 0

In [274]:
df['Enjoy'].unique()

array(['No', 'Yes'], dtype=object)

In [273]:
len(df['Enjoy'].unique())

2

In [257]:
###          Price  Music   VIP Favorite Beer Enjoy
1    Expensive   Loud   Yes            No   Yes
8    Expensive   Loud   Yes           Yes   Yes
16       Cheap   Loud    No           Yes   Yes

In [302]:
dc2 = pd.DataFrame()
dc2['price']=['Expensive','Expensive','Cheap']
dc2['Music']=['Loud','Loud','Loud']
dc2['VIP']=['Yes','Yes','No']
dc2['Favorite Beer']=['No','Yes','Yes']
dc2['Enjoy']=['Yes','Yes','Yes']
dc2

       price Music  VIP Favorite Beer Enjoy
0  Expensive  Loud  Yes            No   Yes
1  Expensive  Loud  Yes           Yes   Yes
2      Cheap  Loud   No           Yes   Yes

In [307]:
dc2['Enjoy'][0]

'Yes'

In [183]:
type(df['Occupied'])

pandas.core.series.Series

In [241]:
ddd = pd.DataFrame()
ddd['xxx']=[1,1,1,2,2,3,4,5,6]
ddd

   xxx
0    1
1    1
2    1
3    2
4    2
5    3
6    4
7    5
8    6

In [242]:
aaa = pd.DataFrame()
aaa['yyy']=[2,3,4,5,2,3,4,5,6]
aaa

   yyy
0    2
1    3
2    4
3    5
4    2
5    3
6    4
7    5
8    6

In [244]:
dc = {}
dc['xxx']=ddd
dc['yyy']=aaa

In [246]:
dc[0]

KeyError: 0

In [251]:
dc2={1:2,2:3}
for v,k in dc2.keys(),dc2.values():
    print(v,k)

1 2
2 3

In [168]:
dataset =[[2, 2, 1, 4, 0, 0],
         [2, 2, 1, 3, 1, 0]]

In [171]:
from collections import Counter
import numpy as np
import math

dataset
Counter(dataset[:, -1])

Counter({0: 2})

In [170]:
dataset = np.array(dataset)

In [151]:
dataset[0, -1]

0

In [ ]:
coun

In [293]:
dc2={'a':1,'b':2,'c':3}
dc2.values()

dict_values([1, 2, 3])